<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>左衛門ジェネレーター</title>
    <link rel = "stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <h1>左衛門ジェネレーター</h1>
    <div class="generator">
      <canvas id="can" width="300" height="300"></canvas>
      <br>
      <input type="color" value="#ffffff" id="leftColor">
      <input type="color" value="#235694" id="rightColor">
      <button id="download">画像として保存する</button>
    </div>
    <script src="/public/javascript/generator.js"></script>
  </body>
</html>