<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>左衛門ジェネレーター</title>
    <link rel = "stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">左衛門ジェネレーター</h2>
        <h1 class="title">SAEMON GENERATOR</h1>
        <p class="description">
          左衛門ジェネレーターは、好みの座衛門アイコンを作成するサービスです。
          <br>
          いろんな左衛門を作ってみよう！！
        </p>
        <a class="generator-button" href = "/generator">ジェネレーターをつかう！</a>
      </div>
      <div class="top-image">
        
      </div>
    </div>
  </body>
</html>